##############################
# fmc_l8 io
##############################
net  fmc_l8_la_p<33>				loc = ae31	| iostandard =lvcmos25;		#io_l5p_t0_13					bank#13
net  fmc_l8_la_p<32>				loc = ac32	| iostandard =lvcmos25;		#io_l1p_t0_13					bank#13
net  fmc_l8_la_p<31>				loc = ae33	| iostandard =lvcmos25;		#io_l4p_t0_13					bank#13
net  fmc_l8_la_p<30>				loc = ac34	| iostandard =lvcmos25;		#io_l2p_t0_13					bank#13
net  fmc_l8_la_p<29>				loc = aj29	| iostandard =lvcmos25;		#io_l8p_t1_12					bank#12
net  fmc_l8_la_p<28>				loc = ad31	| iostandard =lvcmos25;		#io_l6p_t0_13					bank#13
net  fmc_l8_la_p<27>				loc = al30	| iostandard =lvcmos25;		#io_l17p_t2_13					bank#13
net  fmc_l8_la_p<26>				loc = ak33	| iostandard =lvcmos25;		#io_l15p_t2_dqs_13			bank#13
net  fmc_l8_la_p<25>				loc = ae34	| iostandard =lvcmos25;		#io_l3p_t0_dqs_13				bank#13
net  fmc_l8_la_p<24>				loc = ah30	| iostandard =lvcmos25;		#io_l10p_t1_13					bank#13
net  fmc_l8_la_p<23>				loc = ak28	| iostandard =lvcmos25;		#io_l10p_t1_12					bank#12
net  fmc_l8_la_p<22>				loc = af30	| iostandard =lvcmos25;		#io_l8p_t1_13					bank#13
net  fmc_l8_la_p<21>				loc = am33	| iostandard =lvcmos25;		#io_l20p_t3_13					bank#13
net  fmc_l8_la_p<20>				loc = am27	| iostandard =lvcmos25;		#io_l6p_t0_12					bank#12
net  fmc_l8_la_p<19>				loc = ag33	| iostandard =lvcmos25;		#io_l9p_t1_dqs_13				bank#13
net  fmc_l8_la_p<18>				loc = al25	| iostandard =lvcmos25;		#io_l11p_t1_srcc_12			bank#12
net  fmc_l8_la_p<17>				loc = ak26	| iostandard =lvcmos25;		#io_l12p_t1_mrcc_12			bank#12
net  fmc_l8_la_p<16>				loc = aj32	| iostandard =lvcmos25;		#io_l14p_t2_srcc_13			bank#13
net  fmc_l8_la_p<15>				loc = ah34	| iostandard =lvcmos25;		#io_l7p_t1_13					bank#13
net  fmc_l8_la_p<14>				loc = an32	| iostandard =lvcmos25;		#io_l21p_t3_dqs_13			bank#13
net  fmc_l8_la_p<13>				loc = ak34	| iostandard =lvcmos25;		#io_l16p_t2_13					bank#13
net  fmc_l8_la_p<12>				loc = am25	| iostandard =lvcmos25;		#io_l7p_t1_12					bank#12
net  fmc_l8_la_p<11>				loc = al29	| iostandard =lvcmos25;		#io_l18p_t2_13					bank#13
net  fmc_l8_la_p<10>				loc = ap31	| iostandard =lvcmos25;		#io_l22p_t3_13					bank#13
net  fmc_l8_la_p<9>				loc = an29	| iostandard =lvcmos25;		#io_l24p_t3_13					bank#13
net  fmc_l8_la_p<8>				loc = an27	| iostandard =lvcmos25;		#io_l5p_t0_12					bank#12
net  fmc_l8_la_p<7>				loc = ap29	| iostandard =lvcmos25;		#io_l23p_t3_13					bank#13
net  fmc_l8_la_p<6>				loc = an25	| iostandard =lvcmos25;		#io_l3p_t0_dqs_12				bank#12
net  fmc_l8_la_p<5>				loc = ap26	| iostandard =lvcmos25;		#io_l4p_t0_12					bank#12
net  fmc_l8_la_p<4>				loc = an24	| iostandard =lvcmos25;		#io_l2p_t0_12					bank#12
net  fmc_l8_la_p<3>				loc = am23	| iostandard =lvcmos25;		#io_l1p_t0_12					bank#12
net  fmc_l8_la_p<2>				loc = ak24	| iostandard =lvcmos25;		#io_l9p_t1_dqs_12				bank#12
net  fmc_l8_la_p<1>				loc = ag32	| iostandard =lvcmos25;		#io_l11p_t1_srcc_13			bank#13
net  fmc_l8_la_p<0>				loc = af31	| iostandard =lvcmos25;		#io_l12p_t1_mrcc_13			bank#13
#
net  fmc_l8_la_n<33>				loc = ae32	| iostandard =lvcmos25;		#io_l5n_t0_13					bank#13
net  fmc_l8_la_n<32>				loc = ac33	| iostandard =lvcmos25;		#io_l1n_t0_13					bank#13
net  fmc_l8_la_n<31>				loc = af33	| iostandard =lvcmos25;		#io_l4n_t0_13					bank#13
net  fmc_l8_la_n<30>				loc = ad34	| iostandard =lvcmos25;		#io_l2n_t0_13					bank#13
net  fmc_l8_la_n<29>				loc = ak29	| iostandard =lvcmos25;		#io_l8n_t1_12					bank#12
net  fmc_l8_la_n<28>				loc = ad32	| iostandard =lvcmos25;		#io_l6n_t0_vref_13			bank#13
net  fmc_l8_la_n<27>				loc = al31	| iostandard =lvcmos25;		#io_l17n_t2_13					bank#13
net  fmc_l8_la_n<26>				loc = al33	| iostandard =lvcmos25;		#io_l15n_t2_dqs_13			bank#13
net  fmc_l8_la_n<25>				loc = af34	| iostandard =lvcmos25;		#io_l3n_t0_dqs_13				bank#13
net  fmc_l8_la_n<24>				loc = aj30	| iostandard =lvcmos25;		#io_l10n_t1_13					bank#13
net  fmc_l8_la_n<23>				loc = al28	| iostandard =lvcmos25;		#io_l10n_t1_12					bank#12
net  fmc_l8_la_n<22>				loc = ag30	| iostandard =lvcmos25;		#io_l8n_t1_13					bank#13
net  fmc_l8_la_n<21>				loc = an34	| iostandard =lvcmos25;		#io_l20n_t3_13					bank#13
net  fmc_l8_la_n<20>				loc = am28	| iostandard =lvcmos25;		#io_l6n_t0_vref_12			bank#12
net  fmc_l8_la_n<19>				loc = ah33	| iostandard =lvcmos25;		#io_l9n_t1_dqs_13				bank#13
net  fmc_l8_la_n<18>				loc = al26	| iostandard =lvcmos25;		#io_l11n_t1_srcc_12			bank#12
net  fmc_l8_la_n<17>				loc = ak27	| iostandard =lvcmos25;		#io_l12n_t1_mrcc_12			bank#12
net  fmc_l8_la_n<16>				loc = ak32	| iostandard =lvcmos25;		#io_l14n_t2_srcc_13			bank#13
net  fmc_l8_la_n<15>				loc = aj34	| iostandard =lvcmos25;		#io_l7n_t1_13					bank#13
net  fmc_l8_la_n<14>				loc = ap33	| iostandard =lvcmos25;		#io_l21n_t3_dqs_13			bank#13
net  fmc_l8_la_n<13>				loc = al34	| iostandard =lvcmos25;		#io_l16n_t2_13					bank#13
net  fmc_l8_la_n<12>				loc = am26	| iostandard =lvcmos25;		#io_l7n_t1_12					bank#12
net  fmc_l8_la_n<11>				loc = am30	| iostandard =lvcmos25;		#io_l18n_t2_13					bank#13
net  fmc_l8_la_n<10>				loc = ap32	| iostandard =lvcmos25;		#io_l22n_t3_13					bank#13
net  fmc_l8_la_n<9>				loc = an30	| iostandard =lvcmos25;		#io_l24n_t3_13					bank#13
net  fmc_l8_la_n<8>				loc = an28	| iostandard =lvcmos25;		#io_l5n_t0_12					bank#12
net  fmc_l8_la_n<7>				loc = ap30	| iostandard =lvcmos25;		#io_l23n_t3_13					bank#13
net  fmc_l8_la_n<6>				loc = ap25	| iostandard =lvcmos25;		#io_l3n_t0_dqs_12				bank#12
net  fmc_l8_la_n<5>				loc = ap27	| iostandard =lvcmos25;		#io_l4n_t0_12					bank#12
net  fmc_l8_la_n<4>				loc = ap24	| iostandard =lvcmos25;		#io_l2n_t0_12					bank#12
net  fmc_l8_la_n<3>				loc = an23	| iostandard =lvcmos25;		#io_l1n_t0_12					bank#12
net  fmc_l8_la_n<2>				loc = al24	| iostandard =lvcmos25;		#io_l9n_t1_dqs_12				bank#12
net  fmc_l8_la_n<1>				loc = ah32	| iostandard =lvcmos25;		#io_l11n_t1_srcc_13			bank#13
net  fmc_l8_la_n<0>				loc = ag31	| iostandard =lvcmos25;		#io_l12n_t1_mrcc_13			bank#13
																															
##############################                                               		                      
# fmc_l12 io                                                                 		                      
##############################                                               		                      
net  fmc_l12_la_p<33>			loc = c29	| iostandard =lvcmos25;		#io_l20p_t3_a20_15			bank#15
net  fmc_l12_la_p<32>			loc = a29	| iostandard =lvcmos25;		#io_l22p_t3_a17_15			bank#15
net  fmc_l12_la_p<31>			loc = b30	| iostandard =lvcmos25;		#io_l23p_t3_foe_b_15			bank#15
net  fmc_l12_la_p<30>			loc = d29	| iostandard =lvcmos25;		#io_l21p_t3_dqs_15			bank#15
net  fmc_l12_la_p<29>			loc = b31	| iostandard =lvcmos25;		#io_l18p_t2_a24_15			bank#15
net  fmc_l12_la_p<28>			loc = f29	| iostandard =lvcmos25;		#io_l24p_t3_rs1_15			bank#15
net  fmc_l12_la_p<27>			loc = h32	| iostandard =lvcmos25;		#io_l23p_t3_16					bank#16
net  fmc_l12_la_p<26>			loc = h29	| iostandard =lvcmos25;		#io_l21p_t3_dqs_16			bank#16
net  fmc_l12_la_p<25>			loc = c32	| iostandard =lvcmos25;		#io_l15p_t2_dqs_15			bank#15
net  fmc_l12_la_p<24>			loc = g31	| iostandard =lvcmos25;		#io_l17p_t2_a26_15			bank#15
net  fmc_l12_la_p<23>			loc = l33	| iostandard =lvcmos25;		#io_l18p_t2_16					bank#16
net  fmc_l12_la_p<22>			loc = n32	| iostandard =lvcmos25;		#io_l24p_t3_16					bank#16
net  fmc_l12_la_p<21>			loc = l31	| iostandard =lvcmos25;		#io_l14p_t2_srcc_15			bank#15
net  fmc_l12_la_p<20>			loc = d34	| iostandard =lvcmos25;		#io_l8p_t1_16					bank#16
net  fmc_l12_la_p<19>			loc = b33	| iostandard =lvcmos25;		#io_l10p_t1_16					bank#16
net  fmc_l12_la_p<18>			loc = e31	| iostandard =lvcmos25;		#io_l11p_t1_srcc_16			bank#16
net  fmc_l12_la_p<17>			loc = e32	| iostandard =lvcmos25;		#io_l12p_t1_mrcc_16			bank#16
net  fmc_l12_la_p<16>			loc = h33	| iostandard =lvcmos25;		#io_l22p_t3_16					bank#16
net  fmc_l12_la_p<15>			loc = j34	| iostandard =lvcmos25;		#io_l16p_t2_a28_15			bank#15
net  fmc_l12_la_p<14>			loc = f33	| iostandard =lvcmos25;		#io_l9p_t1_dqs_16				bank#16
net  fmc_l12_la_p<13>			loc = f34	| iostandard =lvcmos25;		#io_l4p_t0_16					bank#16
net  fmc_l12_la_p<12>			loc = k32	| iostandard =lvcmos25;		#io_l15p_t2_dqs_16			bank#16
net  fmc_l12_la_p<11>			loc = l34	| iostandard =lvcmos25;		#io_l20p_t3_16					bank#16
net  fmc_l12_la_p<10>			loc = p30	| iostandard =lvcmos25;		#io_l5p_t0_16					bank#16
net  fmc_l12_la_p<9>				loc = m30	| iostandard =lvcmos25;		#io_l17p_t2_16					bank#16
net  fmc_l12_la_p<8>				loc = t33	| iostandard =lvcmos25;		#io_l16p_t2_16					bank#16
net  fmc_l12_la_p<7>				loc = p34	| iostandard =lvcmos25;		#io_l14p_t2_srcc_16			bank#16
net  fmc_l12_la_p<6>				loc = r33	| iostandard =lvcmos25;		#io_l2p_t0_16					bank#16
net  fmc_l12_la_p<5>				loc = n33	| iostandard =lvcmos25;		#io_l3p_t0_dqs_16				bank#16
net  fmc_l12_la_p<4>				loc = u32	| iostandard =lvcmos25;		#io_l7p_t1_16					bank#16
net  fmc_l12_la_p<3>				loc = r32	| iostandard =lvcmos25;		#io_l6p_t0_16					bank#16
net  fmc_l12_la_p<2>				loc = t30	| iostandard =lvcmos25;		#io_l1p_t0_16					bank#16
net  fmc_l12_la_p<1>				loc = t28	| iostandard =lvcmos25;		#io_l11p_t1_srcc_ad12p_15	bank#15
net  fmc_l12_la_p<0>				loc = r28	| iostandard =lvcmos25;		#io_l12p_t1_mrcc_ad5p_15	bank#15
#
net  fmc_l12_la_n<33>			loc = c30	| iostandard =lvcmos25;		#io_l20n_t3_a19_15			bank#15
net  fmc_l12_la_n<32>			loc = a30	| iostandard =lvcmos25;		#io_l22n_t3_a16_15			bank#15
net  fmc_l12_la_n<31>			loc = a31	| iostandard =lvcmos25;		#io_l23n_t3_fwe_b_15			bank#15
net  fmc_l12_la_n<30>			loc = d30	| iostandard =lvcmos25;		#io_l21n_t3_dqs_a18_15		bank#15
net  fmc_l12_la_n<29>			loc = b32	| iostandard =lvcmos25;		#io_l18n_t2_a23_15			bank#15
net  fmc_l12_la_n<28>			loc = e29	| iostandard =lvcmos25;		#io_l24n_t3_rs0_15			bank#15
net  fmc_l12_la_n<27>			loc = g32	| iostandard =lvcmos25;		#io_l23n_t3_16					bank#16
net  fmc_l12_la_n<26>			loc = h30	| iostandard =lvcmos25;		#io_l21n_t3_dqs_16			bank#16
net  fmc_l12_la_n<25>			loc = c33	| iostandard =lvcmos25;		#io_l15n_t2_dqs_adv_b_15	bank#15
net  fmc_l12_la_n<24>			loc = f31	| iostandard =lvcmos25;		#io_l17n_t2_a25_15			bank#15
net  fmc_l12_la_n<23>			loc = k33	| iostandard =lvcmos25;		#io_l18n_t2_16					bank#16
net  fmc_l12_la_n<22>			loc = m32	| iostandard =lvcmos25;		#io_l24n_t3_16					bank#16
net  fmc_l12_la_n<21>			loc = k31	| iostandard =lvcmos25;		#io_l14n_t2_srcc_15			bank#15
net  fmc_l12_la_n<20>			loc = c34	| iostandard =lvcmos25;		#io_l8n_t1_16					bank#16
net  fmc_l12_la_n<19>			loc = a33	| iostandard =lvcmos25;		#io_l10n_t1_16					bank#16
net  fmc_l12_la_n<18>			loc = d31	| iostandard =lvcmos25;		#io_l11n_t1_srcc_16			bank#16
net  fmc_l12_la_n<17>			loc = d32	| iostandard =lvcmos25;		#io_l12n_t1_mrcc_16			bank#16
net  fmc_l12_la_n<16>			loc = g33	| iostandard =lvcmos25;		#io_l22n_t3_16					bank#16
net  fmc_l12_la_n<15>			loc = h34	| iostandard =lvcmos25;		#io_l16n_t2_a27_15			bank#15
net  fmc_l12_la_n<14>			loc = e33	| iostandard =lvcmos25;		#io_l9n_t1_dqs_16				bank#16
net  fmc_l12_la_n<13>			loc = e34	| iostandard =lvcmos25;		#io_l4n_t0_16					bank#16
net  fmc_l12_la_n<12>			loc = j32	| iostandard =lvcmos25;		#io_l15n_t2_dqs_16			bank#16
net  fmc_l12_la_n<11>			loc = k34	| iostandard =lvcmos25;		#io_l20n_t3_16					bank#16
net  fmc_l12_la_n<10>			loc = n30	| iostandard =lvcmos25;		#io_l5n_t0_16					bank#16
net  fmc_l12_la_n<9>				loc = m31	| iostandard =lvcmos25;		#io_l17n_t2_16					bank#16
net  fmc_l12_la_n<8>				loc = t34	| iostandard =lvcmos25;		#io_l16n_t2_16					bank#16
net  fmc_l12_la_n<7>				loc = n34	| iostandard =lvcmos25;		#io_l14n_t2_srcc_16			bank#16
net  fmc_l12_la_n<6>				loc = r34	| iostandard =lvcmos25;		#io_l2n_t0_16					bank#16
net  fmc_l12_la_n<5>				loc = m33	| iostandard =lvcmos25;		#io_l3n_t0_dqs_16				bank#16
net  fmc_l12_la_n<4>				loc = u33	| iostandard =lvcmos25;		#io_l7n_t1_16					bank#16
net  fmc_l12_la_n<3>				loc = p32	| iostandard =lvcmos25;		#io_l6n_t0_vref_16			bank#16
net  fmc_l12_la_n<2>				loc = t31	| iostandard =lvcmos25;		#io_l1n_t0_16					bank#16
net  fmc_l12_la_n<1> 			loc = t29	| iostandard =lvcmos25;		#io_l11n_t1_srcc_ad12n_15	bank#15
net  fmc_l12_la_n<0> 			loc = r29	| iostandard =lvcmos25;		#io_l12n_t1_mrcc_ad5n_15	bank#15

